*,*::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
    --color-primary: #32a1c2;
    /*--color-accent: #ba9c49;*/
    --color-accent: #49ba6d;
    --color-accent-content:#4f4a4a;
    --content-width: 70rem;
    --side: 2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #32a1c2;
        --color-accent: #49ba6d;

    }
}

h1, h2, h3, h4, h5, h6 {
   // color:var(--color-primary)
}

.section-base {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    max-width: var(--content-width);
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    background-color: var(--color-base-300);
    border-radius: 1rem;
    min-height: 200px;
}
